{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="{{picture_url}}"><br>
      <b>{{name}}</b><br>
      100 followers
    </div>
    <div class="col-md-9">
      {% if showForm %}
        <form action="/tweets/add" method="POST">
          <input name="id" value="{{user_id}}" type="hidden" />
          <label for="name_field">Name:</label>
          <input name="name" type="text" id="name_field" value="{{name}}" />
          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field" style="width: 350px;" />
          <input type="submit" value="Submit" />
        </form>
      {% endif %}
      <!-- display tweets here -->
      {% for tweet in tweets %}
      <div class="media" style="width:100%">
      {% if index %}
        <img class="align-self-start mr-3" src="{{tweet.picture_url}}" alt="{{tweet.name}}">
      {% endif %}
        <div class="media-body">
            <a href="/users/{{tweet.name}}"><h5 class="name">{{tweet.name}}</h5></a>
            <a href="/tweet/{{tweet.tweet_id}}"><p class="content">{{tweet.content}}</p></a>
            <p><a href="/tweets/remove/{{tweet.tweet_id}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-remove"></span>Remove</a></p>
        </div>
      {% endfor %}

    </div>
  </div>

{% endblock %}
